<input type="text" (input)="filterResults(filter.value)" placeholder="Filter" #filter >
Results: {{ filteredAlbums.length }} Albums with {{ songcount }} tracks.
<div *ngFor="let album of filteredAlbums">
    <h2>{{album.key}} [{{album.year}}] {{album.startIndex}}</h2>
    <div [style.display]="">
        <div>
            <img [src]="getAlbumImage(album.startIndex)" [style.height]="'200px'" [style.width]="'200px'"/>
        </div>
        <div *ngFor="let song of album.val">
            - {{song.tracknumber}} {{song.title}} [{{song.duration}}] | Index: {{song.index}}
        </div>
    </div>
</div>